@import "tailwindcss";

:root {
  --background: #004b35;
  --foreground: #ffffff;
  --cta: #c42a83;
  --accent: #f8974e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cta: var(--cta);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #004b35;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
